@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display+SC|Domine');

body{
    background-color: whitesmoke;  /* This sets the background colour to whitesmoke */ 
}

p{
    font-family: 'Domine',serif;
    font-size: 14px;
    line-height: 20px;
    display: block; 
    text-align: justify; /* This makes sure that the text alignment in the content fill out the whole collumn */
}
h1{
    font-family: 'Playfair Display SC',serif;
    font-weight:200; /* This sets that font thickness */
    font-size: 80px; /* This sets the font size */ 
    float: none;
    margin: 0; 
    text-align: center; /* This sets the headings into the center of if its box/area */
    padding: 1px; 
    border-top: 1px solid; /* Makes a line because of the "1px solid" on the borders */ 

}
header{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 80px;
    float: left;
    padding: 15px;
    border-right: solid 1px ;
    
}

nav{
    border-bottom: solid 1px #111;
    border-top: solid 1px #111; 
}

ul {
    display: inherit ; 
    overflow: visible;
    list-style-type: inherit ;

}

li {
    float:none ;
    margin-right: 1px;
    padding-left: 5px; 
    overflow: hidden;
}

li a {
    text-decoration: none; /* This removes the underline on the hyperlinks */
    color: rgb(223, 17, 17); /* This sets the colour of the neutral link */
    font-size: 18px ;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase ; /* This transfroms the text into uppercare */
    transition: all 0.5s ease; /* ? */
    text-align: right; /* This sets the text to the right */ 
}
li a:hover {
    color: #aaa; /* This will change the colour of the font to this set colour when it's hovered over */
}
li.active a {
    color: black; 
    font-weight: 525 ; 
}

.Content{
    display: inline-block;
    margin: 30px 2% 0 2%;
}

.head{
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    font-size: 30px;
}
/* Columns */

.Columnthin{
    font-size: 14px;
    line-height: 20px;
    width: 20%; /* This will set the width of the collumns of the top content to fit the page */ 
    display: inline-block ;
    padding: 2%; 
    border-right: solid 1px #000;
    margin-bottom: 20px ;
}
.Columnthinborderleft{
    font-size: 14px;
    line-height: 20px;
    width: 20%; /* This will set the width of the collumns of the top content to fit the page */ 
    display: inline-block ;
    padding: 2%; 
    border-left: solid 1px #000;
    margin-bottom: 20px ;
    vertical-align: top;
}

.Columnthinborderless{
    font-size: 14px;
    line-height: 20px;
    width: 20%; /* This will set the width of the collumns of the top content to fit the page */ 
    display: inline-block ;
    padding: 2%; 
    margin-bottom: 20px ;
    vertical-align: top;
}

.Columnthick47borderless{
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    width: 47%;
    padding: 2%;
    margin-bottom: 20px ;
    vertical-align: top;
}

.Columnthick47borderlessmiddle{
    font-size: 14px;
    line-height: 20px;
    width:47%;
    display: inline-block;
    padding-left: 325px;
    margin-bottom: 20px ;
    vertical-align: top;
}

.Columnthick47borderright{
    width: 44%;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    padding: 2%;
    margin-bottom: 20px ;
    vertical-align: top;
}

.Columnthrees{
    font-size: 14px;
    line-height: 20px;
    width: 30%;
    display: inline-block;
    padding: 1%;
    border-right: solid 1px #000;
    margin-bottom: 20px ;
    vertical-align: top;
}

.Columntwo{
    line-height: 25px;
    width: 47%;
    display: inline-block;
    padding: 1%;
    border-right: solid 1px #000;
    margin-bottom: 20px ;
    vertical-align: top;
}

.Columntwoborderless{
    line-height: 25px;
    width: 48%;
    display: inline-block;
    padding: 1%;
    margin-bottom: 20px;
    vertical-align: top;
}

.Columnthreesborderless{
    font-size: 14px;
    line-height: 20px;
    width:30%;
    display: inline-block;
    padding: 1%;
    margin-bottom: 20px ;
    vertical-align: top;
}

.Columnthinborderleft{
    font-size: 14px;
    line-height: 20px;
    width: 20%; /* This will set the width of the collumns of the top content to fit the page */ 
    display: inline-block ;
    padding: 2%; 
    border-left: solid 1px #000;
    margin-bottom: 20px ;
    vertical-align: top;
}

.Columnmiddle{
    font-size: 14px;
    line-height: 20px;
    width:47%;
    display: inline-block;
    padding: 2%;
    vertical-align: top;
    margin-bottom: 20px ;
    vertical-align: top;
}

.columnnobox{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    vertical-align: top;


}


body img
{
    width: 100%;
    height: 125%;
}

iframe
    {
width: 100%;
    }


.backtotop
{
    text-transform: uppercase ;
    text-decoration: none ; 
    color: rgb(223, 17, 17); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 20px;
    width:10%;
    padding: 1%;
    float: right ;
}

.backtotop:hover
{
    color: #aaa ;
}

.footer
{
    text-align: center ;
    border-top: 1px #000 ;
    border-right: 0px ;
    border-bottom: 0px ;
    border-left: 0px ;
    border-style: solid ;
}

.footershape
{
    display: inline-flex;
    
}

@media (min-width:801px) and (max-width:960px) 
{
    p{
        font-size: 110%;
    }
    .Columnthin{
        width: 19%;
    }
    .Columnthinborderless
    {
        width: 20%;
    }
    .Columnthick47borderless
    {
        width: 45%;
    }
    .Columnthick47borderlessmiddle
    {
        width: 65%;
        padding-left: 165px;
    }
    .Columntwoborderless
    {
        width: 46%
    
    }
  
    .Columnthinborderleft
    {
        width: 20%;
    
    }
}

@media (min-width:501px) and (max-width:800px) 
{
    p{
        font-size: 105%;
    }
    .Columnthin{
        width: 43%;
    }
    .Columnthinborderless
    {
        width: 43%;
    }
    .Columnthick47borderless
    {
        width: 100%;
    }
    .Columnthick47borderlessmiddle
    {
        width: 100%;
        padding-left: 0;
    }
    .footershape    
    {
        display: inline-block
    }

    header{
        padding: 26px;
        font-size: 65px;
    }
    li a
    {
        font-size: 18px
    }
    h1{
        font-size: 73px;
    }
    .Columntwoborderless
    {
        width: 46%
    
    }

    .Columnthick47borderright
    {

        width: 100%;
    }
    .Columnthinborderleft
    {
        width: 43%;
        border-style: none;
    }

}

@media (max-width:500px){
    p{
        font-size: 110%;
    }
    .Columnthin{
        width: 43%;
    }
    .Columnthinborderless
    {
        width: 45%;
    }
    .Columnthick47borderless
    {
        width: 100%;
    }
    .Columnthick47borderlessmiddle
    {
        width: 100%;
        padding-left: 0;
    }
    .footershape    
    {
        display: inline-block
    }

    header{
        padding: 25px;
        font-size: 55px;
    }
    li a
    {
        font-size: 15px
    }
    h1{
        font-size: 70px;
    }
    .Columntwoborderless
    {
        width: 46%
    }
    .Columnthick47borderright
    {

        width: 100%;
    }
    .Columnthinborderleft
    {
        width: 45%;
        border-style: none;
    }

}