body{
    background-color: #ccc
}

p{
    display: block;
    text-align: center;
}
h1{
    order: -1;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 80px;
    float: none;
    margin: 0; 
    text-align: center;
    padding: 1px; 
    border-top: 1px solid; 
}
header{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 90px;
    float: left;
    padding: 10px;
    border-right: solid 1px #000;
    
}

nav{
    border-bottom: solid 1px #111;
    border-top: solid 1px #111; 
    overflow: none;
}

ul {
    overflow: none;
    list-style-type: none;

}

li {
    float:none ;
    margin-right: 1px;
    padding-left: 5px; 
    overflow: hidden;
}

li a {
    text-decoration: none;
    color: rgb(223, 17, 17); 
    font: 13px/1 Helvetica, Verdana, sans-serif;
    text-transform: uppercase ;
    transition: all 0.5s ease;
    text-align: right; 
}
li a:hover {
    color: #aaa;
}
li.active a {
    font-style: bold;
    color: black; 
}

.Content{
    display: inline-block;
    margin: 30px 2% 0 2%;
}

.head{
    text-align: center;
    font-size: 30px;
}
.Collumns{

}
.Collumn{
    font-size: 14px;
    line-height: 20px;
    width: 30%;
    display: inline-block;
    padding: 1%;
    vertical-align: top;
    transition: all .7s;
    border-right: solid 1px #000;
    margin-bottom: 20px ;
}

.Collumn2{
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    display: inline-block;
    padding: 1%;
    vertical-align: top;
    transition: all .7s;
    border-right: solid 1px #000;
    margin-bottom: 20px ;
}